/* RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2, h3,
h4, h5, h6 {
    font-family: 'PT Sans';
    font-weight: normal;
}

/* BODY */

body {
    background-color:#D8D8D8;
}
.css-awards {
    position: fixed;
    top: 0;
    left: 0;
}
.css-awards a {
    width: 115px;
    height: 115px;
    background-image: url(../images/cssawards_featured_dark.png);
    text-indent: 0px;
    display: block;

}

/* GENERAL CONTAINERS */

.site-container {
    display: flex;
    max-width: 1590px;
    margin: auto;
    background-color: #fff;
}
.page-container {
    display: flex;
    width: 990px;
    margin: auto;
}

/* HEADER */

.header-container {
    justify-content: space-between;
    align-items: center;
    height: 121px;
}
.logo {
    display: flex;
}
nav ul {
    display: flex;
    text-transform: uppercase;
    font-size: 13px;
}
nav ul li a {
    padding: 14px;
    color: #888;
    margin-right: 5px;
    border: 1px solid #fff;
}
nav ul li a:hover {
    background-color: #42B3E5;
    color: #fff;
}
.active {
    background-color: #42B3E5;
    color: #fff;
}
.active:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-bottom: #fff;
    z-index: 999;
}
.nav-hover:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-bottom: #fff;
    z-index: 999;
}
.nav-contact:hover {
    background-color: #42B3E5;
    color: #fff;
}

/* BANNER */

.banner-bg {
    height: 670px;
    background-image: url(../images/img1.jpg);
    background-position: top center;
    background-size: cover;
}
.banner-area {
    height: inherit;
    flex-direction: column;
    justify-content: end;
}
.banner-title {
    margin-top: auto;
    margin-bottom: auto;
    color: #fff;
    text-shadow: 0 1px 0 #4e4e4e;
}
.banner-title h1 {
    font-size: 70px;
    line-height: 70px;
}
.banner-title h3 {
    font-size: 23px;
    line-height: 35px;
    margin-top: 20px;
}
.banner-infos {
    display: flex;
}
.banner-info-box01,
.banner-info-box02,
.banner-info-box03 {
    flex: 1;
    color: #fff;
    flex-direction: column;
    padding: 20px 30px;
}
.banner-info-box01 {
    background-color: #42B3E5;
}
.banner-info-box02 {
    background-color: #0384CE;
}
.banner-info-box03 {
    background-color: #3156A3;
}
.banner-info-box03 h2 {
    margin-bottom: 5px;
}
.box-info-title {
    margin-bottom: 20px;
}
.box-info-content {
    font-size: 13px;
    margin-bottom: 26px;
    line-height: 19px;
}
.banner-infos a {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 25px 6px 6px;
    margin-bottom: 10px;
    font-size: 13px;
    background-image: url(../images/icon_arrow_margin_right_white.png);
    background-repeat: no-repeat;
    background-position: right;
}
.banner-infos a:hover {
    color: #000;
    background-color: #fff;
    background-image: url(../images/icon_arrow_margin_right_black.png);
}
.box-info-opening-hours li {
    display: flex;
    border-bottom: 1px solid #4b72c2;
    justify-content: space-between;
    font-size: 13px;
}
.box-info-opening-hours span {
    padding: 12px 0;
}

/* INTERNAL PAGE */

.internal-page-bg {
    padding-bottom: 50px;
}
.latest-news-container {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
}
.latest-news-left,
.latest-news-right {
    flex: 1;
    margin-right: 30px;
}
.news {
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
}
.news-no-image {
    display: none;
}
.news-image {
    height: 190px;
    margin-bottom: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.news-image.first-img {
    background-image: url(../images/image_03.jpg);
}
.news-image.last-img {
    background-image: url(../images/image_02.jpg);
}
.news-content h2 {
    color: #000;
    line-height: 24px;
    margin-bottom: 30px;
}
.news-content p {
    color: #737373;
    font-size: 13px;
    line-height: 18px;
}


.news-posted-in {
    margin: 40px 0 30px 0;
    font-size: 11px;
    color: #888;
}
.news-posted-in a {
    color: #888;
    text-decoration: underline;
}
.news-posted-in a:hover {
    color: #3156A3;
}

/* WIDGET TITLE FOR THE SITE'S CONTENT */
.widget-content-title {
    flex-basis: 100%;
    margin-top: 30px;
    position: relative;
}
.widget-title{
    font-size: 18px;
    color: #000;
}
.widget-title::after {
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    margin-top: 8px;
    background-color: #42B3E5;
}

/* WIDGET FOR POSTS DATES AND COMENTARY QUANTITIES */
.widget-date-posts {
    display: flex;
    margin-bottom: 30px;
}
.widget-date {
    position: relative;
    padding: 10px 12px;
    background-color: #3156A3;
    margin-right: 2px;
    color: #fff;
    font-size: 11px;

}
.widget-date::before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -6px;
    left: 0;
    border-top: 4px solid #3156A3;
    border-left: 4px solid #3156A3;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.widget-posts a {
    display: inline-block;
    padding: 10px 12px;
    background-color: #42B3E5;
    color: #fff;
    font-size: 11px;
}
.show-all {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-right: 30px;
    justify-content: end;
}
.show-all a{
    display: inline-block;
    color: #3156A3;
    border-bottom: 1px dotted #3156A3;
    font-size: 13px;
}

/* ASIDE AREA */

.aside-area {
    flex: 1;
}

/* DEPARTMENTS */
.departments-contents {
    margin-top: 30px;
}
.departments-widget {
    display: flex;
    flex-direction: column;
}
.departments-widget-content {
    display: flex;
    margin-top: 20px;
}
.departments-widget-title {
    background-color: #3156A3;
    color: #fff;
    padding: 8px 15px;
    font-size: 15px;
}
.departments-widget-title h3 {
    background-image: url(../images/Minus.png);
    background-repeat: no-repeat;
    background-position: right;
}
.departments-widget-img {
    min-height: 75px;
    min-width: 75px;
    background-image: url(../images/image_08.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.departments-widget-text {
    color: #737373;
    font-size: 13px;
    padding: 0 18px;
    line-height: 20px;
}
.departments-widget-details {
    display: flex;
    justify-content: flex-end;
}
.departments-widget-details a {
    padding: 7px 25px 7px 8px;
    background-color: #3156A3;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 13px;
    background-image: url(../images/icon_arrow_margin_right_white.png);
    background-repeat: no-repeat;
    background-position: right;
}
.departments-widget-details a:hover {
    background-color: #42B3E5;
}
.departments-widget-details a:first-child {
    margin-right: 2px;
}
.clinic-specialists-area ul li {
    display: flex;
    flex-direction: column;
    padding: 9px 13px 9px 0;
    border-bottom: 1px solid #ddd;
}
.clinic-specialist a {
    color: #737373;
    background-image: url(../images/Plus.png);
    background-position: right;
    background-repeat: no-repeat;
    letter-spacing: 0.5px;
    font-family: 'PT Sans';
    font-size: 18px;
}
.clinic-specialist a:hover {
    color: #3156A3;
}

/* APPOINTMENT */

